<!DOCTYPE html>
<html>
<head>
    <title>Index</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <h1>Mamak Recognition</h1>
    <h3>On uploaded picture</h3>
    <img src="{{ imgUrl }}" alt="User Image" width="200" height="200">
    <h3>Food Detected : {{foodDetected}}</h3>
    <h4>Total Price : {{totalPrice}}</h4>
</body>
</html>