<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="https://unpkg.com/@fortawesome/fontawesome-free@5.11.2/css/all.css">
  <title>Mamak UI</title>
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
      <a href="#" class="navbar-brand">
        <img class="mr-1" src="https://via.placeholder.com/32" alt="">
        Mamak Recognition</a>
      <div class="collapse navbar-collapse mr-auto"></div>
      <div class="btn-group" role="group" aria-label="Basic example">
        <a class="btn btn-light" href="/"><i class="fas fa-camera"></i> Take Picture</a>
        <button id="resetButton" class="btn btn-danger"><i class="fas fa-redo-alt"></i> Reset UI</button>
      </div>
    </div>
  </nav>
  <div class="container mt-5">
    <div class="row">
      <div class="col-xs-12 col-md-6">
        <div class="card">
          <div class="card-header">
            Scan 'Lauk'
          </div>
          <div class="card-body">
            <div class="row">
              <div id="canvasParent" class="col d-flex justify-content-center">
                <canvas id="imageCanvas"></canvas>
                <img id="processedImage" class="rounded img-fluid" hidden>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col">
                <div class="input-group" id="buttonGroup">
                  <div class="custom-file">
                    <input type="file" class="custom-file-input" id="inputFile"
                      aria-describedby="inputGroupFileAddon04">
                    <label class="custom-file-label" for="inputFile" id="inputLabel">Choose file</label>
                  </div>
                  <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="button" id="uploadButton" disabled>Upload</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-6">
        <div class="card" style="height: 100%">
          <div class="card-header">Receipts</div>
          <div class="card-body">
            <table id="receiptTable" class="table table-striped table-responsive">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Lauk</th>
                  <th>Quantity</th>
                  <th>RM/pcs</th>
                  <th>Total (RM)</th>
                </tr>
              </thead>
              <tbody>
                <!-- <tr>
                    <th>1</th>
                    <th>Ayam Goreng</th>
                    <th>2</th>
                    <th>RM 3.00</th>
                    <th>RM 6.00</th>
                  </tr>
                  <tr>
                    <th colspan="4">TOTAL</th>
                    <th>RM 6.00</th>
                  </tr> -->
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js"
    integrity="sha256-yr4fRk/GU1ehYJPAs8P4JlTgu0Hdsp4ZKrx8bDEDC3I=" crossorigin="anonymous"></script>
  <script>
    const inputFile = document.getElementById('inputFile');
    const uploadButton = document.getElementById('uploadButton');
    const buttonGroup = document.getElementById('buttonGroup');
    const canvasParent = document.getElementById('canvasParent');
    const processedImage = document.getElementById('processedImage');
    const resetButton = document.getElementById("resetButton");
    var canvasImage = document.getElementById('imageCanvas');
    var table = document.getElementById("receiptTable");
    var imageServer = io();

    resetButton.addEventListener("click", () => {
      location.reload();
    });
    inputFile.addEventListener("change", () => {
      uploadButton.disabled = false;
      const label = document.getElementById('inputLabel');
      label.textContent = inputFile.value;

    });

    uploadButton.addEventListener("click", () => {
      console.log("clicked");
      var ctx = canvasImage.getContext('2d');
      var img = new Image();
      img.onload = function () {
        canvasImage.height = img.height;
        canvasImage.width = img.width;
        ctx.drawImage(img, 0, 0, img.width, img.height);
        URL.revokeObjectURL(img.src);
      }
      img.src = URL.createObjectURL(inputFile.files[0]);
      buttonGroup.innerHTML = "";
      buttonGroup.innerHTML = '<button id="scanButton" type="button" class="btn btn-outline-success">Scan for food</button>';
      const scanButton = document.getElementById('scanButton');
      const reuploadButton = document.getElementById('reuploadButton');
      
      scanButton.addEventListener("click",() => {
        console.log("clicked process image");
        scanButton.disabled = true;
        scanButton.innerText = "";
        var loading = document.createElement("SPAN");
        loading.className = "spinner-border spinner-border-sm";
        scanButton.appendChild(loading);
        imageServer.emit("process-image", canvasImage.toDataURL("image/jpeg"));
      });
    });

    imageServer.on("processed-image", (image) => {
      console.log("CLIENT RECEIVED IMAGE");
      canvasImage.hidden = true;
      processedImage.src = `data:image/png;base64,${image}`;
      processedImage.hidden = false;
      scanButton.hidden = true;
    });
    imageServer.on("processed-text", (jsonData) => {
      console.log("CLIENT RECEIVED JSON DATA");
      'use strict';
      index = 0;
      for(const [key,value] of Object.entries(jsonData)) {
        console.log(key,value)
        if(key == "grand_total"){
          grandTotalRow = table.insertRow();
          grandTotalRow.insertCell();
          grandTotalRow.insertCell();
          grandTotalRow.insertCell();
          grandTotalTextCell = document.createElement("TH");
          grandTotalCell = document.createElement("TH");
          grandTotalTextCell.appendChild(document.createTextNode("Grand Total"));
          grandTotalCell.appendChild(document.createTextNode(value));
          grandTotalRow.appendChild(grandTotalTextCell);
          grandTotalRow.appendChild(grandTotalCell);
        }
        else{
          index += 1;
          var newRow = table.insertRow();

          var indexCell = newRow.insertCell();
          var laukCell = newRow.insertCell();
          var qtyCell = newRow.insertCell();
          var priceCell = newRow.insertCell();
          var totalCell = newRow.insertCell();

          var idxText = document.createTextNode(index);
          var laukText = document.createTextNode(key);
          var qtyText = document.createTextNode(value.qty);
          var priceText = document.createTextNode(value.price);
          var totalText = document.createTextNode((parseFloat(value.price) * parseFloat(value.qty)).toFixed(2));

          indexCell.appendChild(idxText);
          laukCell.appendChild(laukText);
          qtyCell.appendChild(qtyText);
          priceCell.appendChild(priceText);
          totalCell.appendChild(totalText);
        }
      }
    }) 

  </script>
</body>

</html>